<header class="header">
    <div class="logo">
      <i class="fa-sharp-duotone fa-solid fa-scissors fa-xs"></i>
      <span class="shine-text">Remove Watermarks</span>
      <i class="fa-sharp-duotone fa-solid fa-scissors fa-flip-horizontal fa-xs"></i>
    </div>
    <div class="user-info">
      <% if (user) { %>
        <div class="user-profile">
          <% if (user.photo) { %>
            <!-- <img src="<%= user.photo %>" class="user-avatar"> -->
          <% } %>
          <span class="user-name"><%= user.displayName %></span>
          <a href="/logout" class="auth-button">
            <i class="fas fa-sign-out-alt"></i>
            Logout
          </a>
        </div>
      <% } else { %>
        <a href="/login/google" class="auth-button">
          <i class="fab fa-google"></i>
          Sign in with Google
        </a>
      <% } %>
    </div>
  </header> 